/*
// BREAKPOINTS
$screen-small: 576px;
$screen-medium: 768px;
$screen-large: 992px;
$screen-extra-large: 1228px;
$screen-desktop: 1380px;
*/

/*
//COLORS
  color: #2c2b2b;
  background-color: #e1dfdd;

*/ 


@font-face {
    font-family:'Barlow', sans-serif ;
    src: url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500&display=swap');
}
h1,h2,h3,h4,h5,h6,p,span,a,li {
    font-family: 'Barlow', sans-serif;
    text-decoration: none;
    color: black;
    font-weight: 500;
}

*,*:before,*:after { 
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
  }
  
  html {
    scroll-behavior:smooth;
    width: 100%;
    top:0;
    left:0;
 }

body {
    background-color: #e1dfdd;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    cursor: none;
    

}

.triangle-1 {
  position: absolute;
  width: 100%;
    height: 0;
    border-right: 200rem solid #ebebeb;
    border-bottom: 50rem solid transparent;
    z-index: -3;    
}







/* CURSOR */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");





.cursor {
  position: absolute;
  background: rgb(110, 142, 234);
  cursor: pointer;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  z-index: 4;
  transition: 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  transform: scale(0.8);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
}
@media screen and (max-width:350px){
  div.cursor{
    visibility: hidden;
  }
}
@media screen and (max-width:425px){
  div.cursor{
    visibility: hidden;
  }
}
@media screen and (max-width:768px){
  div.cursor{
    visibility: hidden;
  }
}
.cursor.active {
  opacity: 1;
  transform: scale(8);
  background: rgb(255, 255, 255);
  transition: 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity;
}

.cursor::before {
  content: "Click!";
  width: 100%;
  height: 100%;
  position: absolute;
  font-size: 4px;
  top: 6px;
  left: 3px;
  display: block;
  border-radius: 100%;
  opacity: 0;
  color: rgb(110, 142, 234);
}

.cursor.active::before {
  opacity: 1;
}

.cursor-follower {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  z-index: -1;
  background-color: rgba(255, 255, 255, 0.7);
  transition: 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) opacity, 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33) background;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  transform: translate(4px, 4px);
}
@media screen and (max-width:350px){
  div.cursor-follower{
    visibility: hidden;
  }
}
@media screen and (max-width:425px){
  div.cursor-follower{
    visibility: hidden;
  }
}
@media screen and (max-width:768px){
  div.cursor-follower{
    visibility: hidden;
  }
}

.cursor-follower.active {
  opacity: 0.3;
  transform: scale(0);
}