
  /* LOADER */
  .intro {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #161616;
    transition: 1s;
  }

  .logo-header {
    position: absolute;
    top: 40%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
  }
  @media screen and (max-width:350px){
    .logo-header{
      border:5px solid red;
      margin-left:-6%;
    }
  }
  @media screen and (max-width:425px){
    .logo-header{
      border:5px solid red;
      left: 13%;
    }
  }
  @media screen and (max-width:768px){
    .logo-header{
      border:5px solid red;
      left: 20%;
    }
  }
  @media screen and (max-width:880px){
    .logo-header{
      border:5px solid red;
      left: 20%;
    }
  }
  @media screen and (max-width:950px){
  }
  @media screen and (max-width:1040px){
  }
  @media screen and (max-width:2040px){
  }
  





  .jess {
    color: #efefef;
    font-size: 25px;
    margin: 2%;
  }
 

  .logo {
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
    color: #efefef;
    font-family: 'Barlow', sans-serif;
  }

  

  .logo.active {
    bottom:0;
    opacity: 1;
    transition: ease-in-out 0.5s;
  }

  .logo.fade {
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
  }



/* AFTER PRELOADER */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { left:-100px; opacity:0 } 
    to { left:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ left:-100px; opacity:0 } 
    to{ left:0; opacity:1 }
  }
  
  #myDiv {
    display: none;
  }





