
  /* LOADER */

  .intro {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #161616;
    transition: 1s;
  }

  .logo-header {
    position: absolute;
    top: 40%;
    left:50%;
    transform: translate(-50%, -50%);
  }
  .jess {
    color: #efefef;
    font-size: 20px;
    margin: 2%;
  }
 

  .logo {
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
    color: #efefef;
    font-family: 'Barlow', sans-serif;
  }

  .logo.active {
    bottom:0;
    opacity: 1;
    transition: ease-in-out 0.5s;
  }

  .logo.fade {
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s;
  }




  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { left:-100px; opacity:0 } 
    to { left:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ left:-100px; opacity:0 } 
    to{ left:0; opacity:1 }
  }
  
  #myDiv {
    display: none;
  }
  #myMain {
    display: none;
  }




  .animatetext {
    position: relative;
    -webkit-animation-name: animatetext;
    -webkit-animation-duration: 1s;
    animation-name: animatetext;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatetext {
    from { left:-100px; opacity:0 } 
    to { left:0px; opacity:1 }
  }
  
  @keyframes animatetext { 
    from{ left:-100px; opacity:0 } 
    to{ left:0; opacity:1 }
  }